<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>todos</span>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="no. of todos in list">
    <mat-icon
      [matBadge]="totalTodos$ | async"
      matBadgeSize="small"
      matBadgeColor="warn"
      matBadgePosition="below"
    >
      assignment
    </mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="settingsMenu"
    matTooltip="settings"
  >
    <mat-icon>
      settings
    </mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{ username$ | async }}</span>
    </button>
    <button mat-menu-item (click)="onSignout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>signout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
