<div class="screen-middle">
  <mat-card>
    <h1 class="flex">
      <span>signup</span>
      <span class="spacer"></span>
      <mat-spinner diameter="24" *ngIf="isLoading | async"></mat-spinner>
    </h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="username.invalid">
          username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="password.invalid">
          password is required
        </mat-error>
      </mat-form-field>
      <div class="form-buttons">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="signupForm.invalid"
        >
          submit
        </button>
        <a class="link" routerLink="/signin">go to signin</a>
      </div>
    </form>
  </mat-card>
</div>
