<h1 class="flex">
  <span>list</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    color="warn"
    (click)="onClear()"
    matTooltip="clear all todos"
  >
    <mat-icon>clear_all</mat-icon>
  </button>
</h1>
<mat-list>
  <mat-list-item *ngFor="let todo of todos$ | async">
    <span matLine>{{ todo.name }}</span>
    <button mat-icon-button (click)="onEdit(todo)" matTooltip="edit todo">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="onDelete(todo.id)"
      matTooltip="delete todo"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<button mat-fab color="primary" (click)="onAdd()" matTooltip="add todo">
  <mat-icon>add</mat-icon>
</button>
