@import 'assets/styles/theme.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.form-buttons {
  margin-top: 16px;
}

.link {
  font-weight: 500;
  text-decoration: none;
  color: var(--primary);

  &:hover {
    text-decoration: underline;
  }
}

.screen-middle {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  padding: 16px;
  place-content: center;
  background-color: var(--primary);

  mat-card {
    max-width: 425px;
  }

  .link {
    margin-left: 16px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.snackbar-error {
  background: var(--warn);
  font-weight: 500;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}
