<div class="screen-middle">
  <mat-card>
    <h1>signin</h1>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="username.invalid">
          username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="password.invalid">
          password is required
        </mat-error>
      </mat-form-field>
      <div class="form-buttons">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="signinForm.invalid"
        >
          submit
        </button>
        <a class="link" routerLink="/signup">go to signup</a>
      </div>
    </form>
  </mat-card>
</div>
